<div class="custom-product-card">
  <div class="product-image-area">
    {{ product.featured_image | image_url: width: 200 | image_tag }}
  </div>
  <div class="product-info">
    <h4 class="product-title">{{ product.title }}</h4>
  </div>
</div>
