<div class="banner-box">
  {% if section.settings.display_type == 'single' %}
    {%- for block in section.blocks limit: 1 -%}
      <div class="banner-item">
        <div class="banner-image">
          {{ block.settings.banner_image | image_url: width: 2000 | image_tag: width: block.settings.banner_image.width, alt: block.settings.banner_image.alt | default: "Banner Image", fetchpriority: 'high'}}
        </div>
        <div class="banner-content">
          <div class="banner-content-left">
            <h2></h2>
            <p></p>
          </div>
        </div>
      </div>
    {%- endfor -%}
  {% else %}
    {%- for block in section.blocks -%}
      <div class="banner-item">
        <div class="banner-image"></div>
        <div class="banner-content">
          <div class="banner-content-left">
            <h2></h2>
            <p></p>
          </div>
        </div>
      </div>
    {%- endfor -%}
  {% endif %}
</div>

{% schema %}
{
  "name": "Index-banner",
  "tag": "section",
  "class": "index-banner-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "display_type",
      "label": "Banner Display Type",
      "options": [
        { "value": "single", "label": "Single Banner" },
        { "value": "carousel", "label": "Carousel" }
      ],
      "default": "single"
    }
  ],
  "blocks": [
    {
      "name": "indexBannerItems",
      "type": "indexBannerItems",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Banner Title"
        },
        {
          "type": "inline_richtext",
          "id": "banner_description",
          "label": "Banner Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Index-banner"
    }
  ]
}
{% endschema %}
